<template>
  <v-container>
    <div class="text-h4">{{ $t("master-form.title") }}</div>

    <v-card class="mt-3">
      <v-card-text>
        <v-row>
          <v-col class="py-0" cols="12" md="12">
            <v-form ref="form">
              <v-dialog v-model="dialog" max-width="800px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="mx-2 float-right"
                    color="indigo"
                    outlined
                    v-bind="attrs"
                    v-on="on"
                  >
                    {{ $t("create") }}
                    <v-icon right>mdi-plus</v-icon>
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                    <v-row justify="end">
                      <v-btn nooutlined icon @click="dialog = false">
                        <v-icon color="black" medium> mdi-close </v-icon>
                      </v-btn>
                    </v-row>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="6" md="6">
                          <v-text-field
                            v-model="editedItem.id_num"
                            label="ID"
                            outlined
                            readonly
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="6" md="6">
                          <v-text-field
                            v-model="editedItem.name"
                            label="Name"
                            outlined
                            dense
                            required
                            :rules="[
                              v => !!v || 'Name is required',
                              v =>
                                /^[a-zA-Zก-๙ ']+$/.test(v) ||
                                'Name must be characters'
                            ]"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="mb-3 mr-3 p-2" filled @click="close">
                      Close
                    </v-btn>
                    <v-btn
                      class="mb-3 mr-3 p-2"
                      color="indigo"
                      outlined
                      @click="save"
                      v-if="valid == true"
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-form>
          </v-col>
        </v-row>

        <v-card-title class="py-0 mt-5 table-title">
          <v-row>
            <v-col class="py-0" cols="12" md="3" offset-md="9">
              <v-text-field
                class="pt-5 search-bar"
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                outlined
                dense
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          sort-by="id_num"
          class="custom-data-table"
        >
          <template v-slot:item.actions="{ item }">
            <v-btn color="black" icon @click="editItem(item)">
              <v-icon>mdi-pencil-outline</v-icon>
            </v-btn>
            <v-btn color="red" icon @click="deleteItem(item)">
              <v-icon>mdi-delete-outline</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "MasterIndex",

  data: () => ({
    valid: true,
    dialog: false,
    search: "",
    headers: [
      {
        text: "ID",
        value: "id_num"
      },
      {
        text: "Name",
        value: "name"
      },
      {
        text: "Created By",
        value: "createdBy"
      },
      {
        text: "Created Date",
        value: "createdDate"
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
        align: "center"
      }
    ],
    items: [],
    editedIndex: -1,
    editedItem: {
      id_num: "",
      name: null,
      createdBy: new Date().toISOString().substr(0, 10),
      createdDate: new Date().toISOString().substr(0, 10)
    },
    defaultItem: {
      id_num: "",
      name: null,
      createdBy: new Date().toISOString().substr(0, 10),
      createdDate: new Date().toISOString().substr(0, 10)
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Create Master 1" : "Edit Master 1";
    },

    lastItem() {
      return this.items.slice(-1).pop();
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.items = [
        {
          id_num: 1,
          name: "Gruard Force",
          createdBy: "01/06/2020",
          createdDate: "01/06/2020"
        },
        {
          id_num: 2,
          name: "FWD",
          createdBy: "01/06/2020",
          createdDate: "01/06/2020"
        },
        {
          id_num: 3,
          name: "RPC",
          createdBy: "01/06/2020",
          createdDate: "01/06/2020"
        },
        {
          id_num: 4,
          name: "MINOR",
          createdBy: "01/06/2020",
          createdDate: "01/06/2020"
        }
      ];
    },
    editItem(items) {
      this.editedIndex = this.items.indexOf(items);
      this.editedItem = Object.assign({}, items);
      this.dialog = true;
    },

    deleteItem(items) {
      const index = this.items.indexOf(items);
      this.items.splice(index, 1);
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = this.defaultItem;
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
      this.$refs.form.resetValidation();
    },

    save() {
      if (!this.editedItem.name) {
        this.$refs.form.validate();
      } else if (this.editedIndex > -1) {
        Object.assign(this.items[this.editedIndex], this.editedItem);
        this.close();
      } else {
        const lastItem = this.items.slice(-1).pop();
        this.editedItem.id_num = lastItem.id_num + 1;
        this.items.push(this.editedItem);
        this.close();
      }
    }
  }
};
</script>

<style lang="scss">
thead span {
  color: #3f51b5;
  font-size: 16px;
  font-weight: 400;
}
.table-title,
.v-data-table-header {
  background-color: #eeeeee;
}
.search-bar .v-input__slot {
  background-color: #fff !important;
}
</style>
